* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ddd;
    font-size: 18;
    margin: 60px 50px;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
}
.container .logo{
    font-family: 'Pacifico', sans-serif;
}
.content {
    display: grid;
}
.header{
    display: grid;
    grid-template-areas: 
    'hero hero feature-1'
    'hero hero feature-2';
}
.hero{
    grid-area: hero;
    min-height: 400px;
    background-image: url(img/Hero-3.jpg);
    background-size: cover;
    background-position:center;
    padding: 50px;
}
.hero h2, .hero p{
    display: none;
}
.features{
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center; /*ini untuk mejadi tulisan di tengan tengah*/
    text-align: center;
    cursor: pointer;
}
.feature-1{
    grid-area: feature-1;
    background-image: url(img/Hero-2.jpg);
    background-size: cover;
}
.feature-2{
    grid-area: feature-2;
    background-image: url(img/Hero-1.jpg);
    background-size: cover;
}
.features .price {
    font-size: 2em;
}
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.service{
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.service .icon{
    font-size: 3em;
}
.service h3{
    font-size: 1.5em;
}
.gallery{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 5px;
}
.gallery h2{
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}
/* Responsive */
@media (max-width: 576px) {
    .header{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';
    }
    body{
        margin: 15px;
    }
    .hero h2, .hero p{
        display: block;
        color: #ddd;
        padding: 5px;
        margin-bottom: 5px;
    } 
    .hero {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-end;
    }
}